# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environments
venv/
.env/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Data files (keep .gitkeep)
data/*.csv
!data/.gitkeep
